<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/dd9a768261.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/account.css}" href="../static/css/account.css">
    <title>Tài khoản (home.html)</title>
</head>
<body>

    <div class="nav-header">
        <div class="ship-truck">
            <i class="fa-solid fa-truck-fast"></i>
            <p>Miễn phí giao hàng cho đơn hàng 700K</p>
        </div>
        
        <div class="return-policy">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
            <p>15 Ngày đổi trả</p>
        </div>

        <div class="pay-loan">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Trả góp 0%</p>
        </div>
    </div>
    
    <div class="container-login">
        <h1 class="title_login">Đăng nhập</h1>
        <form action="#" method="post" th:action="@{/login}" th:object="${account}">

            <label for="tb_account">Địa chỉ email</label>
            <input type="email" id="tb_account" th:name="username" required>

            <label for="tb_password">Mật khẩu</label>
            <input type="password"  id="tb_password" th:name="pass" required>

            <input type="submit" value="Đăng nhập">
        </form>

        <p>Bằng cách tạo một tài khoản với cửa hàng của chúng tôi, bạn có thể thao tác quy trình thanh toán nhanh hơn, lưu trữ nhiều địa chỉ giao hàng, xem và theo dõi các đơn hàng của bạn trong phần tài khoản của bạn và hơn thế nữa.<a href="/account/register"> Đăng ký</a> </p>
    </div>

    <div class="footer">

        <div class="top_footer">

            <div class="social-media">
                <div>JOIN THE CONVERSATION</div>
                
                <a href="http://facebook.com">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                
                <a href="http://youtebe.com">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                
                <a href="http://instagram.com">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            
            </div>
        
            <form action="" method="post">
                <input type="email" name="input_email" id="tb_email" placeholder="Nhập email để nhận thông tin khuyến mãi">
                <input type="submit" value="Đăng ký">
            </form>
        </div>

        <div class="bottom_footer">
            <div class="about_shop">
                <h4>Về shop</h4>
                
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Hệ thống cửa hàng</a></li>
                    <li><a href="#">Thông tin liên hệ</a></li>
                </ul>
            </div>

            <div class="support_customer">
                <h4>Hỗ trợ khách hàng</h4>
                
                <ul>
                    <li><a href="http://">Chính sách giao hàng</a></li>
                    <li><a href="#" >Hướng dẫn chọn size</a></li>
                    <li><a href="#" >Chính sách đổi trả hàng</a></li>
                    <li><a href="http://">Chính sách trả góp</a></li>
                    <li><a href="http://">Các điều khoản và điều kiện</a></li>
                    <li><a href="http://">Chính sách bảo mật</a></li>
                </ul>
            </div>

            <div class="group_business">
                <h4>Group business</h4>

                <ul>
                    <li><a href="http://">Nguyễn Kim</a></li>
                    <li><a href="#" >Big C</a></li>
                    <li><a href="http://">Cross Vietname</a></li>
                </ul>
            </div>

            <div class="pay_method">
                <h4>Phương thức thanh toán</h4>
            </div>
        </div>
    </div>

</body>
</html>